# Compiler files
cache/
out/
contracts/cache/
contracts/out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/
!/contracts/broadcast
/contracts/broadcast/*/31337/
/contracts/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
bot/.env

# Binaries
*.exe

# Logs
*.log
logs/

bot/arbitrage-bot
bot/rebalance_state.json
